<div class="row">
   <!-- Blog Entries Column -->
   <div class="col-md-8">
       <h1 class="page-header">
           Listing Articles
       </h1>
       <% @articles.each do |article| %> 
       <!--  Blog Post -->
       <h2>
           <%= link_to article.title, article_path(article.id) %>
       </h2>
       <p class="lead">
           in <%= link_to article.category.name, category_path(article.category_id) %> 
       </p>
       <p><span class="glyphicon glyphicon-time"></span> Posted on <%= article.created_at.strftime("%B %d, %Y at %H:%M %p (UTC)") %> </p>
       <hr>
       <img class="img-responsive" src="http://placehold.it/900x300" alt="">
       <hr>
       <p>
         <%= article.body.truncate(200) %>
       </p>
      
       <%= link_to article_path(article.id), class: "btn btn-primary" do %>
          Read More <span class="glyphicon glyphicon-chevron-right">
       <% end %>
       <hr>
       <% end %>
       <!-- Pager -->
       <ul class="pager">
           <li class="previous">
               <a href="#">&larr; Older</a>
           </li>
           <li class="next">
               <a href="#">Newer &rarr;</a>
           </li>
       </ul>

   </div>

   <!-- Blog Sidebar Widgets Column -->
   <div class="col-md-4">
       <!-- Blog Search Well -->
       <div class="well">
           <h4>Blog Search</h4>
           <div class="input-group">
               <input type="text" class="form-control">
               <span class="input-group-btn">
                   <button class="btn btn-default" type="button">
                       <span class="glyphicon glyphicon-search"></span>
               </button>
               </span>
           </div>
           <!-- /.input-group -->
       </div>

       <!-- Blog Categories Well -->
       <div class="well">
           <h4>Blog Categories</h4>
           <div class="row">
               <div class="col-lg-6">
                   <ul class="list-unstyled">

                      <% Category.all.each do |category| %>
                       <li><%= link_to category.name, category_path(category.id) %>
                       </li>
                       <% end %>
                   </ul>
               </div>
              
           </div>
           <!-- /.row -->
       </div>

       <!-- Side Widget Well -->
       <div class="well">
           <h4>Side Widget Well</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
       </div>

   </div>
</div>

<%= will_paginate @articles %>


<% if can? :create, Article.new %>
  <%= link_to 'New Article', new_article_path %>
<% end %>